<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Failed</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        padding: 20px;
      }
      .failed-message {
        background-color: #f57a7a;
        border-color: #e6c7c3;
        color: #cc1313;
        padding: 15px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <%- include('navbar', { user: user, isHome: false }) %>
    <div class="container mt-5">
      <h1>Failed to add client</h1>
      <div class="failed-message">
        <p>The customer was not added to the system because:</p>
        <p><%= failureReason %></p>
      </div>
      <a href="/" class="btn btn-primary">Back to Home Page</a>
    </div>
  </body>
</html>
